body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Login */

#login {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#username-input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    background-color: rgb(225, 233, 241);
}

#login-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(222, 134, 26);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#login-button:hover {
    background-color: rgb(191, 112, 16);
}

/* Chat */

#chat {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#top-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#message-container {
    flex-grow: 1;
    overflow-y: auto;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.message {
    display: flex;
    background-color: white;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.message_your {
    justify-content: right;
}

.message-inner {
    width: 80%;
}

.message-inner_your {
    text-align: right;
}

#input-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#message-input {
    flex: 1 1 auto;
    max-width: 70%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px;
}

#send-button {
    flex: 0 1 auto;
    margin: 10px;
    padding: 10px 20px;
    background-color: #1a79de;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}
